*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background-image:url(https://img.freepik.com/foto-gratis/concepto-material-madera-textura-papel-pintado-fondo_53876-42925.jpg?w=2000);
    background-size: 100% ;
    background-repeat: repeat-y;
    
}
header
{
    background-color: #69140f;
    color: aliceblue;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 5ch;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.principio
{
    background-color: rgba(128, 128, 128, 0.603);   
    margin-top: 10%;
    height: 450px;
    color:#69140f;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: 
    "texto imagen";
}

.texto
{
    display: flex;
    text-align: end;
    align-items: center;
    font-size: 35px;
}

.imagen
{
    width: 90%;
    height: 80%;
    border-radius: 50px;

    display: flex;
    justify-content: center;
    align-items: center;
}
.titulo 
{
   color: aliceblue;
   text-align: center;
   font-size: 40px;
}
.section
{
    background-color: #69140f8e;

}
.section .menu
{
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-content: center;
    color: aliceblue;
    font-size: larger;
    font-family: cursive;
}

.section .menu div .img 
{
    width: 150px;
    height: 150px;
    border: #160812 solid 3px;
    border-radius: 50%;
    margin: 10px;
    transition: 0.5;
}

.section .menu div .img:hover 
{
    transform: translateY(20px);
}
